<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.ea.winterpokal">


    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Because of  sqlite -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- check inet connection -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="de.ea.winterpokal.App"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar" >
        <activity
            android:name="de.ea.winterpokal.StartupActivity"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="de.ea.winterpokal.LoginActivity"
            android:label="@string/app_name_login"
            android:noHistory="true" >
        </activity>

        <activity
            android:name="de.ea.winterpokal.MainActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="de.ea.winterpokal.TeamActivity"
            android:label="Team"
            android:parentActivityName="de.ea.winterpokal.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.ea.winterpokal.MainActivity" />
        </activity>

        <activity
            android:name="de.ea.winterpokal.UserActivity"
            android:label="User"
            android:parentActivityName="de.ea.winterpokal.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.ea.winterpokal.MainActivity" />
        </activity>

        <activity
            android:name="de.ea.winterpokal.AddEntryActivity"
            android:label="Eintrag hinzufügen" android:launchMode="singleTop"
            android:parentActivityName="de.ea.winterpokal.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.ea.winterpokal.MainActivity" />
        </activity>
    </application>

</manifest>